{% extends 'layout.html' %}

{% block title %}
Subject List
{% endblock %}

{% block content %}

<div class="mt-5 mb-3 subjects">
    {% for subject in subjects %}
    <div class="sub_card shadow border">
    <h4 class="subject-heading">
        {{ subject.sub_name }}
      </a>
    </h4>
    <div>
    <p><strong >{{ subject.sub_desc }}</strong></p>
      Number of Chapter : 
      {{ chap | selectattr('sub_id', 'equalto', subject.sub_id) | list | length }}
    </div>
    <div class="buttons text-center">
      <a class="btn btn-outline-info" href="{{ url_for('main.subject',sub_id=subject.sub_id) }}">Open</a>
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block style %}
<style>
    .subjects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  gap: 20px;
  text-align: center;
  width: 1100px;
  margin: auto;
}

.sub_card {
  width: calc(25% - 20px);
  border: 2px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons{
  border-top: 2px solid ;
  padding-top: 5px;
  align-items: end;
}

.subject-heading {
    text-decoration: none;
    color: rgb(5, 127, 127); 
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(5, 127, 127);
}
</style>
{% endblock %}